$fontfamily: 'Courier New', Courier, monospace;
$fontstyle: bold;
$width100: 100%;
$positioncenter: center;
$textalign: center;
$colour: white;
$brownbutton: brown;

* {
    box-sizing: border-box;
    background-color: $colour;
}

body {
    font-family: $fontfamily;
    font-style: $fontstyle;
}

/* Styling for the header for the website */
.title-container {
    width: $width100;
    position: $positioncenter;
}

.images-container {
    width:$width100;
    margin-top: 7px;
    padding:1px;
    text-align:$textalign;
}

#ham {
    max-width: 50%; 
    max-height: 50%;
}

/* Styling for the reset button */
.reset-container {
    position: relative;
    padding-bottom:50px;
}

#resetbutton {
    position: absolute;
    color: $colour;
    background-color: green;
    border-color: black;
    font-weight: bold;
    left: 47%;
    margin-top:7px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

#resetbutton:hover {
    color: $colour;
    background-color: $brownbutton;
}

/* Styling for the word, defintiion, and the buttons for the letters */
.content-container {
    overflow: hidden;
}

.content-left {
    float:left;
    width: 55%;
    margin-top:7px;
    padding-right:15px;
    text-align:center;
}

#word {
    font-style: bold;
    font-size: 2.5em;
}

#definition {
    font-style: italic;
    font-weight: bold;
    font-size: 1.25em;
}

#message {
    font-size: 1em;
}

.content-right {
    float:left;
    width:40%;
    margin-top:7px;
    font-size: 1.5em;
    text-align:center;
}

.content-bottom {
    float:left;
    width:100%;
    max-width: 40%;
    margin-top:7px;
    font-size: 1.5em;
    text-align:center;
}

/* Styling for the clickable buttons for each letter of the alphabet */
@mixin color {
    color: white;
}

.guessButton {
    @include color;
    width: 40px;
    height: 40px;
    background-color: green;
    border-color: black;
    border-radius: 10px;
    margin: 1px;
    font-family: $fontfamily;
    font-weight: $fontstyle;
    font-size: 1em;
}

.guessButton:hover {
    @include color;
    background-color: $brownbutton;
}

.guessButton:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}