/* guesser_style.css*/
* {
    box-sizing: border-box;
    background-color: white;
}
  
body {
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}

/* Styling for the header for the website */
.title-container {
    width: 100%;
    position: center;
}

/* Styling for the image */
.images-container {
    width:100%;
    margin-top: 7px;
    padding:1px;
    text-align:center;
}

#ham {
    max-width: 50%; 
    max-height: 50%;
}

/* Styling for the reset button */
.reset-container {
    position: relative;
    padding-bottom:50px;
}

#resetbutton {
    position: absolute;
    color: white;
    background-color: green;
    border-color: black;
    font-weight: bold;
    left: 47%;
    margin-top:7px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

#resetbutton:hover {
    color: white;
    background-color: brown;
}

/* Styling for the word, defintiion, and the buttons for the letters */
.content-container {
    overflow: hidden;
}

.content-left {
    float:left;
    width: 55%;
    margin-top:7px;
    padding-right:15px;
    text-align:center;
}

#word {
    font-style: bold;
    font-size: 2.5em;
}

#definition {
    font-style: italic;
    font-weight: bold;
    font-size: 1.25em;
}

#message {
    font-size: 1em;
}

.content-right {
    float:left;
    width:40%;
    margin-top:7px;
    font-size: 1.5em;
    text-align:center;
}

.content-bottom {
    float:left;
    width:100%;
    max-width: 40%;
    margin-top:7px;
    font-size: 1.5em;
    text-align:center;
}

/* Styling for the clickable buttons for each letter of the alphabet */
.guessButton {
    width: 40px;
    height: 40px;
    background-color: green;
    border-color: black;
    color:white;
    border-radius: 10px;
    margin: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

.guessButton:hover {
    color: white;
    background-color: brown;
}

.guessButton:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}